.menu-page{
    background-image: url("https://png.pngtree.com/thumb_back/fw800/back_our/20190620/ourmid/pngtree-food-festival-food-promotion-main-map-image_147678.jpg");
    background-repeat: no-repeat; 
    background-size: cover; 

}
.menu-body{
    max-width: 950px;
    margin: auto ;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img-wrapper-menupage{
    width: 100%;
}
.img-menu-page{
    width: 100%;
}