.admin-item-card {
    border: 1px solid black;
    margin: 10px;
    display: flex;
}

.admin-item-line-element{
    font-size: 1rem;
    border: 1px dotted black;
    margin: 3px;
}

.aic-picture {
    width: 50px;
    height: 50px;
    background-size: cover;
}

.admin-item-card .aic-id{
    width: 40px;
}

.admin-item-card .aic-title{
    width: 150px;
}

.admin-item-card .aic-category{
    width: 100px;
}
.admin-item-card .aic-description{
    /* min-width: 100px; */
    width: 350px;
}
.admin-item-card .aic-img-url{
    /* min-width: 100px; */
    width: 300px;
    
}
.admin-item-card .aic-price{
    width: 65px;
}